<h1>Your Portfolio</h1>
<% if @sps == nil %>
  <%= "You have no stocks in your portfolio." %>
<% else %>
<% @sps.each do |stock|%>
<%= link_to (stock.stock.symbol), stock_path(stock.stock.id)%><br>
<h4>Shares: <%= stock.shares %></h4>
<h4>Value: <%="$"+(stock.shares * @price.to_f).to_s%></h4>
<%end%>
<% end %>
<%= link_to('Search Stocks', stocks_path)%>
